@using BusinessLayer;

@{
    ViewBag.Title = "Players";
}
<h2>@ViewBag.Title.</h2>
<h3><a href="/Home/Add">Add player</a></h3>

<table class="table table-bordered table-responsive table-hover">

    <tr>

        <th>Name </th>
        <th>Surname </th>
        <th>Role</th>
        <th>Team</th>
        <th>Action</th>
    </tr>

    @foreach (var item in (List<Person>)ViewData["personList"])
    {

    <tr>

        <td> @item.First_Name</td>
        <td>@item.Last_Name</td>
        <td>@item.Role</td>
        <td> @item.Team_Id.Name</td>
        <td> <a href="/Home/Edit?id=@item.Id">Edit</a> </td>

    </tr>


    }
</table>